.custom-menu {
  --custom-menu-columns: 3;
  /*display: none;*/
}

.custom-menu-button, /* Nav only */
.popover-content .custom-menu-items .custom-menu-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  user-select: none;
}

/* Nav only */
.custom-menu-button {
  width: 4rem;
  padding: 0.8rem;
}

.custom-menu .custom-menu-button {
  padding: 1rem;
}
.custom-menu .custom-menu-button:hover {
  opacity: 1;
}

.popover-content .custom-menu-items .custom-menu-item {
  border-radius: var(--border-radius);
  aspect-ratio: 1 / 1;
  padding: 0.8rem;
  width: 4.2rem;
}

.custom-menu:hover {
  opacity: 1;
}

.popover-content .custom-menu-items {
  display: grid;
  grid-template-columns: repeat(var(--custom-menu-columns), 1fr);
  gap: 2rem;
}

.popover-content .custom-menu-items .custom-menu-item:hover {
  opacity: 1;
  background-color: var(--color-primary);
}

.popover-content .custom-menu-items .custom-menu-item .custom-menu-item-icon {
  width: 100%;
  height: 100%;
  display: block;
  color: var(--color-text-base);
}

.popover-content .custom-menu-items .custom-menu-item:hover .custom-menu-item-icon {
  color: var(--color-separator);
}