.custom-menu {
  --custom-menu-columns: 3;
}

.custom-menu:hover {
  opacity: 1;
}

.custom-menu .custom-menu-popover {
  pointer-events: none;
  opacity: 0.5;
  transition:
    opacity .3s,
    color .3s;
}

.custom-menu-button, /* Nav only */
.popover-content .custom-menu-items .custom-menu-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  user-select: none;
}

/* Nav only */
.custom-menu-button {
  width: calc(var(--header-height, 45px) - 5px);
  padding: 0.8rem;
}

.custom-menu .custom-menu-button {
  padding: 1.1rem 1rem 1rem;
}

.custom-menu .custom-menu-button:hover {
  opacity: 1;
}

.popover-content .custom-menu-items {
  display: grid;
  grid-template-columns: repeat(var(--custom-menu-columns), 1fr);
  gap: 2rem;
  max-height: min(500px, 50vh);
  overflow-y: auto;
  overflow-x: hidden;
}

.popover-content .custom-menu-items .custom-menu-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: var(--border-radius);
  aspect-ratio: 1 / 1;
  padding: 1.3rem;
  width: 5.8rem;
}

.popover-content .custom-menu-items .custom-menu-item:hover {
  opacity: 1;
  background-color: var(--color-primary);
  color: var(--color-background);
}

.popover-content .custom-menu-items .custom-menu-item label {
  cursor: pointer;
  height: 2.4em;
  line-height: 1.2;
  overflow: hidden;
  text-align: center;
  padding: 0 0.8rem;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--color-text-paragraph);
}

.popover-content .custom-menu-items .custom-menu-item:hover label {
  color: inherit;
}

.popover-content .custom-menu-items .custom-menu-item img,
.popover-content .custom-menu-items .custom-menu-item svg {
  width: 100%;
  height: 100%;
  display: block;
  color: var(--color-text-base);
}

.popover-content .custom-menu-items .custom-menu-item .inactive img,
.popover-content .custom-menu-items .custom-menu-item .inactive svg {
  color: var(--color-negative);
}

.popover-content .custom-menu-items .custom-menu-item .active img,
.popover-content .custom-menu-items .custom-menu-item .active svg {
  color: var(--color-positive);
}

.popover-content .custom-menu-items .custom-menu-item:hover img,
.popover-content .custom-menu-items .custom-menu-item:hover svg {
  color: var(--color-background);
}

@media (max-width: 550px) {
  .custom-menu-button {
    width: calc(var(--mobile-navigation-height, 50px) - 10px);
  }

  .custom-menu .custom-menu-button {
    padding: 1.3rem;
  }
}