#dialog {
  display: none;
  padding: 0;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-popover-border);
  box-shadow: 0px 3px 0px 0px hsl(var(--bghs), calc(var(--scheme) (var(--scheme) var(--bgl)) - 0.5%));
  box-sizing: border-box;
  transition:
    background 0.2s,
    opacity 0.2s;
}

#dialog::backdrop {
  background: rgba(0,0,0,.4);
}

#dialog.show {
  opacity: 1;
}

#dialog form[method="dialog"] {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--color-popover-background);
  color: var(--color-text-paragraph);
  padding: 1rem;
  max-width: 40vw;
  min-width: 280px;
}

#dialog form[method="dialog"][dialog-confirm] .dialog-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

#dialog form[method="dialog"][dialog-confirm] .dialog-buttons button {
  padding: .2rem 1rem;
  border-radius: var(--border-radius);
  color: var(--color-background);
}

#dialog form[method="dialog"][dialog-confirm] .dialog-buttons button[value="no"] {
  background:var(--color-negative);
}

#dialog form[method="dialog"][dialog-confirm] .dialog-buttons button[value="yes"] {
  background:var(--color-positive);
}